// 公共变量颜色 start
@bgColor: #F5F5F5;
@chooseColor: #21A675;
@titleColor: #333333;
@tipColor: #C1C1C1;
@itemColor: #FFFFFF;
@chooseRedColor: #F23800;
@myselfNameColor: #FFFFFF;
@myselfListTitle: #E1EBE7;
@myselfListTitleColor: #21A675;
@jobTitleBgColor: #FFFFFF;
@dividerBgColor: #EEEEEE;
@personTipColor: #999999;
@myCertificationColor: #1E1B1B;
@otherStepColor: #99C6B4;
@detailBgColor: #DEF2EA;
@detailRequireColor: #F3F3F3;
@detailIntervalColor: #3B7960;
@selectRoleColor: #858585;


// 公共变量颜色 end


// 公共字体 start
@pfSC: PingFang SC;
@yhUI: Microsoft YaHei UI;
// 公共字体 end


// 公共字体大小 start
@fs9: 9px;
@fs12: 12px;
@fs13: 13px;
@fs15: 15px;
@fs17: 17px;
@fs18: 18px;
@fs21: 21px;
// 公共字体大小 end

// calendar start
@uni-font-size-base: 18px;
@uni-font-size-sm: 12px;
/* 透明度 */
@uni-opacity-disabled: 0.3; // 组件禁用态的透明度
@uni-bg-color-mask: rgba(0, 0, 0, 0.4); //遮罩颜色
@uni-border-color: #c8c7cc;
@uni-text-color: #333; //基本色
@uni-text-color-inverse: #fff; //反色
@uni-text-color-grey: #999; //辅助灰色，如加载更多的提示信息
@uni-text-color-placeholder: #808080;
@uni-text-color-disable: #c0c0c0;
@uni-bg-color-hover: #f1f1f1; //点击状态颜色
@uni-color-error: @chooseColor;

@uni-color-primary: @chooseColor;
@uni-color-subtitle: #555555; // 二级标题颜色
// calendar end

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}